apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
      version: v1
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      containers:
      - name: frontend
        image: samuelrak/travel:t-feX
#        image: samuelrak/travel:t-fe20
        ports:
        - containerPort: 80
#        volumeMounts:
#        - name: config-volume
#          mountPath: /app/src/environments
        env:
          - name: API_URL_AUTH
            value: http://mytravel-123.com/login
#      volumes:
#      - name: config-volume
#        configMap:
#          name: frontend-config
