resources:
- mysql-service.yaml
- mysql-statefulset.yaml
configMapGenerator:
- name: mysql-config
  files:
    - my.cnf=my.cnf
  literals:
  - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=true
  - MARIADB_USER=root
#  - HOSTNAME=mysql-service.travel.svc.cluster.local
  - HOSTNAME=mysql-headless

- name: init-db
  files:
    - traveltours.sql=traveltours.sql
